<div class="row">
<div class="col-sm-6 col-lg-6 col-6">
<div>
  <button routerLink ="insertrecepie" (click)="newRecepieClick = true" class="btn btn-primary"> New Recipe </button>
</div>

<div *ngFor="let item of recipeList; let i = index;">
  <app-recepie [recipe]= "item"  [id]= "i"></app-recepie>
    
  
</div>
</div>
<div class="col-sm-6 col-lg-6 col-6">
  <app-recepie-details></app-recepie-details>
  <app-recipe-form *ngIf="newRecepieClick" (cancelClicked)="newRecepieClick = false"></app-recipe-form>
</div>
<div>